<section id = "secTodoApp">
	<div class="container">
		<!-- Page header -->
		<div class="todos-container text-center">
			<p>TODOS:</p>
			<span class="label label-primary">{{todos.length}}</span>
		</div>

		<!-- List of Todo's -->
		<div id="todo-list">
			<div class="todo" ng-repeat="todo in todos track by $index">
				<div class="done-container">
					<input type="checkbox" ng-model="todo.done">
					<i class="delete glyphicon glyphicon-ok"></i>
					<i class="delete glyphicon glyphicon-plus"></i>
				</div>

				<input type="text" name="ibTodo" value="{{todo.text}}"
					ng-model="todo.text"
					ng-class="{'doneClass': todo.done, 'notDoneClass': !todo.done }">

				<button class="btn btn-primary" ng-click="editTodo(todo.id, todo.text, todo.done)">Update</button>
				<i class="delete glyphicon glyphicon-trash" ng-click="deleteTodo(todo.id)"></i>
			</div>
		</div>

		<!-- Form to create Todo -->
		<form class="form" name="fmCreateTodo" novalidate>
			<input type="text" class="form-control text-center" placeholder="Enter Stuff.."
				ng-model="formData.text"
				ng-required="true">

			<!-- Form will be invalid unless the input box has content only then will the Button become active-->
			<button type="submit" class="btn btn-primary"
				ng-disabled="fmCreateTodo.$invalid"
				ng-click="createTodo()">Create</button>
		</form> <!-- @END/ form -->
	</div> <!-- @END/ .container -->
</section> <!-- @END/ section -->
