<div class="main-container">
  <form class="card form-column" name="formSignUp" novalidate>
    <p class="title">Crea tu cuenta:</p>

    <div class="form-group">
      <label>Email:</label>
      <input class="form-control" type="email" name="email" ng-model="formData.email">
    </div>

    <div class="form-group">
      <label>Contraseña:</label>
      <input class="form-control" type="password" name="password" ng-model="formData.password">
    </div>

    <p class="error" ng-show="error">{{error}}</p>

    <button class="btn btn-primary" type="submit" ng-click="signUp()">CREAR</button>
  </form>

  <a class="link" href="/">Ya tengo cuenta</a>
</div>
