/************* GENERAL *************/
html {
	font-size: 62.5%;
	height: 100%;
	overflow-y:scroll;
}

body {
	background-color: #fbfbfb;
	display: flex;
	flex-direction: column;
	height: 100%;
}

navbar {
	align-items: center;
	background-color: #337ab7;
	box-shadow: 0 3px 5px -1px rgba(0,0,0,.2),
							0 6px 10px 0 rgba(0,0,0,.14),
							0 1px 18px 0 rgba(0,0,0,.12);
	display: flex;
	justify-content: space-between;
	min-height: 5.6rem;
	padding: 1.2rem 4.5rem;
}

navbar p {
	color: white;
	font-size: 1.4em;
	margin: 0;
}

navbar a {
	color: white;
}

.content {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	overflow: auto;
	padding: 1.5rem;
}

.card {
	background-color: white;
	border-radius: .5rem;
	box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),
							0 2px 2px 0 rgba(0,0,0,.14),
							0 1px 5px 0 rgba(0,0,0,.12);
	padding: 2rem;
}

.link {
	font-size: 1.2em;
}

.error {
	color: #d8413e;
	font-size: 1.2em;
}

.title {
	text-transform: uppercase;
}

/************* SIGN UPs *************/
.main-container {
	align-items: center;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	justify-content: center;
}

.form-column {
	align-items: center;
	display: flex;
	justify-content: center;
	flex-direction: column;
	max-width: 40rem;
	width: 100%;
}

.form-column p {
	font-size: 1.2em;
}

.form-column .form-group {
	width: 100%;
}

.main-container .link {
	margin-top: 2rem;
}

/*************** MAIN ***************/
.todos-container {
	align-items: center;
	display: flex;
	justify-content: center;
	margin-top: 5rem;
}

.todos-container p {
	font-size: 1.6em;
	margin: 0;
}

.todos-container span {
	font-size: 1.6em;
	margin-left: 1rem;
}

#todo-list {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 3rem;
}

.todo {
	align-items: center;
	border-bottom: 1px solid rgba(0,0,0,.12);
	display: flex;
	justify-content: center;
	padding: 1.2rem 0;
	width: 100%;
}

.todo > * + * {
	margin-left: 2rem;
}

/* .todo:hover {
	background-color: rgba(0, 0, 0, .03);
	cursor: pointer;
} */

.todo input {
	background-color: transparent;
	border: none;
}

.todo input[type=text] {
	border-bottom: 1px solid transparent;
	flex-grow: 1;
	font-size: 1.4em;
}

.todo input[type=text]:hover {
	cursor: pointer;
	border-bottom: 1px dashed rgba(0, 0, 0, .2);
}

.todo input[type=text]:focus {
	border-bottom: 1px dashed rgba(0, 0, 0, .7);
	outline: none;
}

.todo .done-container {
	height: 3rem;
	position: relative;
	width: 3rem;
}

.todo .done-container:hover {
	cursor: pointer;
}

.todo .done-container input[type=checkbox] {
	height: 100%;
	opacity: 0;
	position: absolute;
	width: 100%;
	z-index: 1;
}

.todo .done-container input[type=checkbox]:hover {
	cursor: pointer;
}

.todo .done-container i.glyphicon-ok,
.todo .done-container i.glyphicon-plus {
	display: none;
}

.todo .done-container input[type=checkbox]:checked + i.glyphicon-ok {
	display: initial;
}

.todo .done-container input[type=checkbox]:not(:checked) ~ i.glyphicon-plus {
	display: initial;
}

.todo .delete {
	font-size: 1.4em;
}

.todo .delete:hover {
	cursor: pointer;
	opacity: .8;
}

#secTodoApp form {
	align-items: center;
	display: flex;
	justify-content: center;
	margin-top: 5rem;
}

#secTodoApp .form input {
	font-size: 1.4em;
}

#secTodoApp .form button {
	margin-left: 2rem;
}


.doneClass {
	text-decoration: line-through;
	color: red;
}

.notDoneClass {
	color: green;
}
